/* You can add global styles to this file, and also import other style files */


.w-100-per{
    width:100% !important;
}
.h-100-per{
    height:100% !important;
}
.w-100-vw{
    width:100vw !important;
}
.h-100-vh{
    height:100vh !important;
}
.c-pointer{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toast-top-center {
    top: 12px;
  }
.p-12{
    padding:12px;
}
.bbox{
    box-sizing: border-box;
}
.d-flex{
    display:flex;
}
.h-center{
    justify-content: center;
}
.v-center{
    align-items: center;
}
.v-bottom{
    vertical-align: bottom;
}
.liu{
    font-family: 'Liu Jian Mao Cao', cursive;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
.muli{
    font-family: 'Muli', sans-serif;
}
.libre{
    font-family: 'Libre Baskerville', serif;
}